@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

h2 {
  font-family: Yanone Kaffeesatz;
  font-size: 35px;
  line-height: 35px;
  letter-spacing: 0.01em;
  color: #041133;
  opacity: 0.8;
}

.hidden {
  visibility: hidden;
  display: none;
}

.logo {
  text-decoration: none;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fixed {
  width: 1440px;
  top: 0;
  height: 60;
  position: fixed;
  z-index: 1555;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 11px rgba(4, 17, 51, 0.11);
          box-shadow: 0px 0px 11px rgba(4, 17, 51, 0.11);
}

.header__btn-float {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 30px;
  background-color: #FF785F;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  border: none;
  border-radius: 3px;
  margin-left: 550px;
  cursor: pointer;
}

.header__link-float {
  text-decoration: none;
  color: #ffff;
}

.logo {
  color: #041133;
  font-family: Dosis;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-left: 15px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 480px;
}

.nav__item {
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  color: #041133;
  opacity: 0.7;
}

.nav__link, .link {
  text-decoration: none;
  color: #041133;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 390px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__burger {
  margin-top: 21px;
  margin-right: 34px;
  width: 20px;
  height: 16px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.burger {
  height: 2.5px;
  background: #6783FE;
  border: none;
}

.burger:not(:last-child) {
  margin-bottom: 5px;
}

.burger-one {
  width: 16px;
  height: 2.5px;
}

.burger-three {
  width: 11px;
}

.intro__image {
  width: 100%;
}

.intro {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.intro__descr {
  margin-top: 130px;
  margin-left: 135px;
  width: 532px;
}

.intro__header {
  font-family: Yanone Kaffeesatz;
  font-size: 52px;
  line-height: 55px;
  letter-spacing: 0.01em;
  color: #041133;
  opacity: 0.8;
}

.intro__text {
  margin-top: 30px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: rgba(4, 17, 51, 0.7);
}

.intro__image {
  margin-top: -28px;
  z-index: -1;
  width: 740px;
}

.intro__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  width: 180px;
  height: 50px;
  background-color: #FF785F;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.02em;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
}

.intro__link-btn {
  text-decoration: none;
  color: #ffff;
}

.intro__features {
  margin-top: 85px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-column-gap: 75px;
  grid-row-gap: 10px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: rgba(4, 17, 51, 0.7);
}

sup {
  font-size: 10px;
}

.city {
  text-decoration: none;
  color: #6783FE;
}

.move {
  margin-top: 50px;
}

.clients {
  text-align: center;
  width: 1014.85px;
  margin-top: 62px;
}

.clients__descr {
  font-family: Roboto;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #6783FE;
  opacity: 0.8;
}

.clients__header {
  margin-top: 20px;
  text-align: center;
}

.clients__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1014.85px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 45px;
          column-gap: 45px;
  row-gap: 30px;
  margin-top: 45px;
}

.services {
  margin-top: 130px;
}

.services__descr {
  margin-left: 135px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #6783FE;
  opacity: 0.8;
}

.services__header {
  width: 271px;
  margin-top: 20px;
  margin-left: 135px;
}

.services__info {
  width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__list {
  width: 303px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 32px;
  margin-top: 18px;
}

.list-number {
  font-family: Yanone Kaffeesatz;
  font-size: 35px;
  line-height: 35px;
  letter-spacing: 0.01em;
  color: #041133;
  opacity: 0.4;
}

.list-header {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
  letter-spacing: 0.02em;
  color: #041133;
  opacity: 0.4;
}

.services__list .active .list-number {
  color: #6783FE;
  opacity: 1;
}

.services__list .active .list-header {
  color: #6783FE;
  opacity: 1;
}

.services__content {
  width: 807px;
  min-height: 390px;
  background: #FFFFFF;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  border-left: 3px solid #6783FE;
  -webkit-box-shadow: 0px 0px 11px rgba(4, 17, 51, 0.11);
          box-shadow: 0px 0px 11px rgba(4, 17, 51, 0.11);
  margin-top: 2px;
}

.tablinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  cursor: pointer;
  width: 303px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tabcontent {
  opacity: 0;
  /*Элемент полностью прозрачный (невидимый)*/
  -webkit-transition: .01s;
  transition: .01s;
  /*Скорость перехода состояния элемента*/
  -webkit-animation: show 1s 1;
          animation: show 1s 1;
  /* Указываем название анимации, её время и количество повторов*/
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  /* Чтобы элемент оставался в конечном состоянии анимации */
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.service-one {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 33% auto;
      grid-template-columns: 25% 33% auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 60px;
  grid-row-gap: 8px;
  width: 807px;
  min-height: 390px;
  padding-top: 38px;
  padding-left: 29px;
}

.title-one {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.02em;
  color: rgba(4, 17, 51, 0.7);
}

.content-one {
  margin-top: 10px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  color: rgba(4, 17, 51, 0.7);
}

.service-tow {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% auto;
      grid-template-columns: 50% auto;
  width: 807px;
  min-height: 390px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 29px;
}

.title-tow {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: rgba(4, 17, 51, 0.7);
}

.content-tow {
  font-family: Roboto;
  font-size: 14px;
  color: rgba(4, 17, 51, 0.7);
  margin-top: 10px;
}

.service-tow__info {
  margin-top: 70px;
  display: -ms-grid;
  display: grid;
  min-height: 250px;
}

.service-tow__img {
  width: 358px;
  background: url(../src/img/Service2.jpg) no-repeat center;
  border-radius: 5px;
}

.service-three {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% auto;
      grid-template-columns: 50% auto;
  width: 807px;
  min-height: 390px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 29px;
}

.title-three {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 20px;
  color: rgba(4, 17, 51, 0.7);
}

.content-three {
  font-family: Roboto;
  font-size: 14px;
  color: rgba(4, 17, 51, 0.7);
  margin-top: 10px;
  line-height: 20px;
}

.service-three__info {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 35px;
  min-height: 200px;
  width: 372px;
}

.service-three__img {
  width: 358px;
  background: url(../src/img/Service3.jpg) no-repeat center;
  border-radius: 5px;
}

.service-four {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% auto;
      grid-template-columns: 50% auto;
  margin-left: 50px;
  min-height: 390px;
}

.service-four p {
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  color: rgba(4, 17, 51, 0.7);
}

.service-four__container {
  margin-top: 40px;
}

.service-four__wrapper {
  width: 340px;
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 60px;
}

.service-four__wrapper .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service-four__wrapper .content {
  text-align: center;
}

.service-four__list {
  background-color: #f8fafb;
  border-radius: 5px;
  padding-left: 46px;
}

.service-four__list .title-one {
  margin-top: 40px;
}

.service-four__list .content {
  margin-top: 70px;
}

.service-four__list .content p {
  margin-top: 24px;
  padding-right: 50px;
}

.service-five {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% auto;
      grid-template-columns: 50% auto;
  width: 807px;
  min-height: 390px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 29px;
}

.service-five__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 1fr;
      grid-template-columns: 20% 1fr;
  -ms-grid-rows: (60px)[4];
      grid-template-rows: repeat(4, 60px);
  margin-top: 90px;
  width: 280px;
}

.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: rgba(4, 17, 51, 0.7);
}

.service-five__img {
  width: 358px;
  background: url(../src/img/Service5.jpg) no-repeat center;
  border-radius: 5px;
}

.certificates__wrapper {
  width: 1174px;
  margin: 0 auto;
}

.certificates__descr {
  font-family: Roboto;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #6783FE;
  opacity: 0.8;
}

.certificates__header {
  margin-top: 17px;
  font-family: Yanone Kaffeesatz;
  font-size: 35px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #041133;
  opacity: 0.8;
}

.certificates__title {
  text-align: center;
  margin-top: 120px;
}

.slider-container {
  padding-top: 10px;
  padding-left: 3px;
  overflow: hidden;
  min-height: 280px;
  width: 1180px;
}

.slider-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  width: 1170px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider-item {
  min-width: 263px;
  min-height: 248px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 11px rgba(4, 17, 51, 0.11);
          box-shadow: 0px 0px 11px rgba(4, 17, 51, 0.11);
  border-radius: 5px;
  justify-items: center;
}

.slider-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 40px;
}

.slider-buttons .btn-prev, .slider-buttons .btn-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #E0E3F0;
  opacity: 0.5;
}

.slider-buttons .btn-prev {
  margin-right: 10px;
  background: url(../src/icons/arrow-left.png) no-repeat center;
}

.slider-buttons .btn-next {
  margin-left: 10px;
  background: url(../src/icons/arrow-right.png) no-repeat center;
}

.slider-item__img {
  padding-top: 30px;
}

.slider-item__descr {
  margin-top: 6px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #6783FE;
  opacity: 0.8;
}

.slider-item__header {
  margin-top: -4px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #041133;
  opacity: 0.8;
}

.slider-item__content {
  margin-top: -30px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.7);
  opacity: 0.8;
  text-align: center;
}

.offices {
  position: relative;
  min-height: 537px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.map {
  width: 100%;
  z-index: -1;
  min-height: 530px;
  margin-top: 64px;
}

.search {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 210px;
  top: 20px;
  width: 363px;
  min-height: 490px;
  border-radius: 5px;
  z-index: 2;
  background: #ffff;
}

.search__city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: none;
  border-radius: 5px;
}

.search__city-name {
  width: 315px;
  height: 51px;
  border: none;
  padding-left: 20px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  color: rgba(4, 17, 51, 0.7);
  opacity: 0.8;
  -webkit-box-shadow: 0px 0px 11px rgba(4, 17, 51, 0.11);
          box-shadow: 0px 0px 11px rgba(4, 17, 51, 0.11);
}

.search__city-btn {
  height: 51px;
  width: 50px;
  padding: 0 0;
  border: none;
  background: #6783FE;
  border-radius: 0px 5px 0px 0px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.cities-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-row-gap: 6px;
  overflow-y: scroll;
  -webkit-box-shadow: 0px 0px 11px rgba(4, 17, 51, 0.11);
          box-shadow: 0px 0px 11px rgba(4, 17, 51, 0.11);
  border-radius: 5px;
  margin: 0 0;
  padding: 20px;
  padding-left: 26px;
  height: 324px;
  list-style: none;
}

::-webkit-scrollbar-track {
  background-color: #ecedee;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #d3d3d4;
  -webkit-box-shadow: 0px 0px 11px rgba(4, 17, 51, 0.11);
          box-shadow: 0px 0px 11px rgba(4, 17, 51, 0.11);
}

::-webkit-scrollbar {
  width: 8px;
  max-height: 15px;
}

.cities-item {
  margin-top: -17px;
  cursor: pointer;
}

.gradient {
  position: absolute;
  margin-top: -25px;
  height: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#FFFFFF));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  border-radius: 5px;
}

.cities-name {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #041133;
  opacity: 0.8;
}

.cities-adress {
  margin-top: -10px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  color: rgba(4, 17, 51, 0.7);
  opacity: 0.8;
}

.cities-phone {
  margin-top: -12px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  color: rgba(4, 17, 51, 0.7);
  opacity: 0.8;
}

.search-info {
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: rgba(4, 17, 51, 0.7);
}

.search-info__content {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-info__phone, .search-info__mail {
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  color: #6783FE;
}

.search-info__phone {
  margin-left: 6px;
}

.search-info__text-tow {
  margin-top: -12px;
}

.search-info__mail {
  margin-top: -14px;
}

.action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 80px;
}

.about {
  width: 363px;
  min-height: 405px;
  margin-top: 57px;
}

.about__title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #6783FE;
}

.about__header {
  margin-top: 20px;
  font-family: Yanone Kaffeesatz;
  font-size: 35px;
  line-height: 35px;
  letter-spacing: 0.01em;
  color: #041133;
}

.about__content {
  font-family: Roboto;
  font-size: 16px;
  line-height: 23.2px;
  letter-spacing: 0.02em;
  color: rgba(4, 17, 51, 0.7);
  margin-top: 36px;
}

.action__form-wrapper {
  width: 362px;
  min-height: 305px;
  margin-top: 160px;
  margin-left: 82px;
  border: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 3px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  display: flex;
}

.client-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.client-info input {
  padding-left: 15px;
  width: 171px;
  height: 40px;
}

input, textarea:focus {
  outline: 0 !important;
}

input, textarea:active {
  outline: 0 !important;
}

input:focus {
  border: none;
  outline: 2px solid #6783FE !important;
}

.smess:focus {
  border: none;
  outline: 2px solid #6783FE !important;
}

#scompany {
  margin-top: 20px;
  padding-left: 15px;
  width: 362px;
  height: 40px;
}

.client-messege {
  margin-top: 20px;
  width: 362px;
  min-height: 115px;
}

.client-messege .smess {
  width: 362px;
  min-height: 115px;
}

.client-messege textarea {
  padding-top: 15px;
  padding-left: 15px;
  resize: none;
}

input, textarea, .scompany {
  border: 1px solid #E0E3F0;
  border-radius: 3px;
}

.action__btn {
  margin-top: 20px;
  background: #6783FE;
  border-radius: 3px;
  width: 362px;
  height: 50px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  opacity: 1;
}

.invalid {
  border: 2px solid red;
}

.hidden {
  display: none;
}

.error-name, .error-tel {
  background-color: #fff;
  color: #000;
  width: 171px;
  height: 15px;
  font-size: 12px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 10px;
}

.enter-phone, .enter-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer {
  background: #E0E3F0;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 244px;
}

.footer__info {
  font-family: Roboto;
  margin-top: 74px;
  margin-left: 137px;
  font-size: 14px;
  line-height: 20px;
  width: 411px;
}

.footer__info .logo {
  color: #041133;
  margin-left: -4px;
}

.footer__info .footer__content {
  margin-top: 22px;
  margin-left: -8px;
  color: rgba(4, 17, 51, 0.7);
}

.footer__contacts {
  margin-right: 154px;
  margin-top: 70px;
}

.footer__contacts-text, .modal__contacts-text {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 2px;
  letter-spacing: 0.02em;
}

.footer__contacts-info {
  font-family: Roboto;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(4, 17, 51, 0.7);
}

.footer__contacts-phone, .modal__contacts-phone {
  font-family: Roboto;
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #6783FE;
  margin-top: 20px;
}

.modal__contacts-phone {
  font-size: 16px;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  height: 90%;
  max-height: 780px;
  top: 50px;
  right: 0;
  position: fixed;
  z-index: 2;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 11px rgba(4, 17, 51, 0.11);
          box-shadow: 0px 0px 11px rgba(4, 17, 51, 0.11);
  margin-bottom: 80px;
}

.divider {
  color: #E0E3F0;
  opacity: 0.3;
}

.nav__burger-list {
  margin-top: 45px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 20px;
  list-style: none;
}

.nav__burger-list .link {
  cursor: pointer;
}

.modal__burger-contacts {
  margin-top: 240px;
  text-align: center;
}

.modal__contacts-text {
  margin-top: 30%;
}

.modal__contacts-phone {
  font-size: 16px;
}

.modal-fon {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  position: fixed;
}

@media (max-width: 1440px) {
  .container {
    width: 99vw;
  }
  .intro__image {
    width: 100%;
  }
  .modal {
    height: 80%;
  }
  .fixed {
    margin: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .clients__logo {
    width: 1000px;
    padding: 0 40px;
    margin: 0 auto;
    margin-top: 50px;
  }
  .offices {
    max-width: 100%;
    margin-left: 0px;
  }
}

@media (max-width: 1366px) {
  .container {
    width: 99vw;
  }
  .intro__image {
    width: 100%;
  }
  .clients__logo {
    width: 1000px;
    padding: 0 40px;
    margin: 0 auto;
    margin-top: 50px;
  }
  .offices {
    max-width: 100%;
    margin-left: 0px;
  }
  .fixed {
    margin: 0;
    width: 1366px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__btn-float {
    margin-left: 280px;
  }
}

@media (max-width: 1290px) {
  .container {
    max-width: 100%;
  }
  .intro__image {
    width: 100%;
  }
  .intro__descr {
    margin-left: 50px;
  }
  .offices {
    max-width: 100%;
    margin-left: 0px;
  }
  .action {
    margin-left: 0px;
  }
  .fixed {
    margin: 0 auto;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__btn-float {
    margin-left: 0px;
  }
}

@media (max-width: 1030px) {
  .container {
    max-width: 100%;
  }
  .intro__descr {
    margin-top: 50px;
  }
  .intro__features {
    margin: 0 auto;
    margin-top: 45px;
  }
  .intro__header {
    font-size: 45px;
  }
  .intro__image {
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
  }
  .fixed {
    max-width: 1024px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: 0px;
  }
  .header__btn-float {
    margin-left: 240px;
  }
  .clients__logo {
    width: 100vw;
    padding: 0 40px;
    margin: 0 auto;
    margin-top: 50px;
  }
  .offices {
    max-width: 100%;
    margin-left: 0px;
  }
  .search {
    right: 20px;
  }
  .services {
    margin-top: 50px;
  }
  .services__info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 800px;
    margin: 0 auto;
  }
  .services__info .tablinks {
    width: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services__list {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90vw;
    margin-bottom: 50px;
  }
  .list-header {
    font-size: 14px;
  }
  .list-number {
    font-size: 22px;
  }
  .services__content, .tabcontent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
  .slider-track, .slider-container, .certificates__wrapper {
    width: 875px;
    margin: 0 auto;
  }
  .modal__contacts-text {
    margin-top: 15%;
  }
}

@media (max-width: 835px) {
  .intro__descr {
    width: 50vw;
  }
  .intro__features {
    width: 90vw;
    margin-top: 85px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    grid-column-gap: 50px;
  }
  .offices {
    max-width: 100%;
    margin-left: 0px;
  }
  .intro__image {
    width: 100%;
    margin-top: -50px;
  }
  .clients__logo {
    width: 90vw;
    padding: 0 40px;
    margin: 0 auto;
    margin-top: 50px;
  }
  .servises__header {
    margin-left: 0px;
  }
  .services {
    text-align: center;
  }
  .services__info {
    margin: 0 auto;
    width: 95vw;
  }
  .services__descr, .services__header {
    margin: 0 auto;
  }
  .services__header {
    margin-top: 50px;
  }
  .services__list {
    margin-top: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 5px;
  }
  .services__content, .tabcontent {
    width: 80vw;
  }
  .tabcontent {
    padding-top: 0px;
    margin-top: 0px;
  }
  .service-one {
    grid-column-gap: 20px;
    padding-top: 20px;
    padding-left: 50px;
  }
  .service-one .content-one, .service-one .title-one {
    text-align: left;
  }
  .service-three__info {
    width: 272px;
    margin-top: 10px;
  }
  .service-three__img, .service-five__img, .service-tow__img {
    width: 280px;
    position: relative;
  }
  .service-four {
    margin-top: 0px;
  }
  .service-four .title-one {
    margin-left: 20px;
  }
  .service-four__wrapper {
    width: 300px;
    grid-column-gap: 20px;
  }
  .service-four__list {
    margin-top: 0px;
  }
  .service-four__list .content {
    margin-top: 10px;
  }
  .slider-track, .slider-container, .certificates__wrapper {
    width: 600px;
    margin: 0 auto;
  }
  .search {
    right: 50px;
  }
  .search .search-info__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
  }
  .search .search-info__phone, .search .search-info__mail {
    margin: 10px;
  }
  .search__city-name {
    font-size: 10px;
  }
  .cities-phone {
    font-size: 10px;
  }
  .fixed {
    position: inherit;
    width: 80vw;
  }
  .search, .cities {
    width: 250px;
  }
  .action {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .action__form-wrapper {
    margin-top: 50px;
    margin-left: 0px;
  }
  .footer__info {
    width: 200px;
  }
  .modal {
    width: 240px;
    height: 60%;
  }
  .modal .modal__contacts-text {
    margin-top: 25%;
  }
}

.sended {
  width: 900px;
  min-height: 250px;
  margin-top: 200px;
  margin-left: 100px;
  font-family: Roboto;
  font-size: 20px;
}

.wrapper {
  width: 766px;
  margin: 0 auto;
}

.section-one {
  margin-top: 110px;
}

.section-tow {
  margin-top: 56px;
}

.image-block {
  margin-top: 40px;
}

.image-descr {
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  color: rgba(4, 17, 51, 0.7);
  margin-top: 6px;
}

.section-three {
  margin-top: 54px;
}

.section-four {
  margin-top: 40px;
}

.section-four .subtitle {
  margin-top: 30px;
}

h1 {
  font-family: Yanone Kaffeesatz;
  font-size: 52px;
  line-height: 55px;
  letter-spacing: 0.01em;
  color: #041133;
  opacity: 0.8;
  font-weight: normal;
}

h3 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: rgba(4, 17, 51, 0.7);
}

.text, .section-four {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: rgba(4, 17, 51, 0.7);
}

.image-block {
  justify-items: center;
}

.list-numeration {
  margin-top: 20px;
  margin-left: -20px;
}

.list-numeration li {
  padding-left: 10px;
  margin-top: 16px;
}

.list-marked {
  list-style-image: url(../src/icons/ListElips.png);
  margin-top: 28px;
  margin-left: -22px;
}

.list-marked li {
  padding-left: 15px;
  margin-top: 20px;
}

.title-five {
  margin-top: 38px;
  margin-left: 43px;
}

.table {
  width: 846px;
  margin: 0 auto;
}

.table-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #6783FE;
  border-radius: 5px;
  width: 846px;
}

.table-header, .even, .odd {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 310px (178px)[3];
      grid-template-columns: 310px repeat(3, 178px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(4, 17, 51, 0.7);
}

.table-header {
  height: 73px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #041133;
  opacity: 0.5;
}

.even {
  background: #F4F8FB;
}

.first-column {
  text-align: left;
  margin-left: 38px;
}

.modal__contacts_phone {
  font-size: 16px;
}

.requisites {
  text-align: center;
}

.requisites-wrapper {
  margin-left: 250px;
  width: 900px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 11px rgba(4, 17, 51, 0.11);
          box-shadow: 0px 0px 11px rgba(4, 17, 51, 0.11);
}

.requisites-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (auto)[80px];
      grid-template-rows: repeat(80px, auto);
  row-gap: 40px;
  margin: 0 auto;
  padding: 60px 0;
  margin-top: 80px;
  width: 700px;
  font-family: Roboto;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: rgba(4, 17, 51, 0.7);
  text-align: left;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  color: #6783FE;
}

.requisites-content .own {
  padding-left: 170px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: rgba(4, 17, 51, 0.7);
  text-align: left;
}

.hidden {
  visibility: hidden;
  display: none;
}

.staff {
  text-align: center;
  margin: 0 auto;
}

.staff-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 80px;
  width: 1000px;
}

.staff-photo {
  width: 260px;
  height: 290px;
}

.staff-info {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  margin-top: 20px;
}

.staff-name, .position {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: rgba(4, 17, 51, 0.7);
  text-align: left;
}

.position {
  margin-top: -15px;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  color: #6783FE;
}

.staff-about {
  font-family: Roboto;
  font-size: 14px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.7);
  opacity: 0.8;
  text-align: left;
}
/*# sourceMappingURL=style.css.map */