// // @media  (max-width: 1990px)
// //     .intro
// //         column-gap: 200px
// //     .offices
// //         max-width: 100%
// //         margin-left: 0px
// //         .search
// //             left: 1350px
// //     // .header__container, .fixed
// //     //     margin: 0 auto
// //     //     width: 100%
// //     // .fixed
// //     //     width: 1920px
// //     //     margin-left: 0px
// @media  (min-width: 1500px)
//     .container
//         width: 99vw
//     .header__container
//         margin: 0
//     .intro__image
//         width: 99%
//     .intro
//         column-gap: 0px
//     .clients__logo
//         width: 1000px
//         padding: 0 40px
//         margin: 0 auto
//         margin-top: 50px
//     .offices
//         max-width: 100%
//         margin-left: 0px
//         .search
//             left: 1150px
//     .fixed
//         margin: 0 auto
//         width: 99vw
//         justify-content: space-between
//     .header__btn-float
//         margin-left: 0px
//     .map
//         width: 99wv
@media  (max-width: 1440px)
    .container
        width: 99vw
    .intro__image
        width: 100%
    .modal
        height: 80%
    .fixed
        margin: 0
        justify-content: space-between
    .clients__logo
        width: 1000px
        padding: 0 40px
        margin: 0 auto
        margin-top: 50px
    .offices
        max-width: 100%
        margin-left: 0px

@media (max-width: 1366px)
    .container
        width: 99vw
    .intro__image
        width: 100%
    .clients__logo
        width: 1000px
        padding: 0 40px
        margin: 0 auto
        margin-top: 50px
    .offices
        max-width: 100%
        margin-left: 0px
    .fixed
        margin: 0
        width: 1366px
        justify-content: space-between
    .header__btn-float
        margin-left: 280px
@media ( max-width: 1290px )
    .container
        max-width: 100%
    .intro__image
        width: 100%
    .intro__descr
        margin-left: 50px
    .offices
        max-width: 100%
        margin-left: 0px
    .action
        margin-left: 0px
    .fixed
        margin: 0 auto
        width: 100%
        justify-content: space-between
    .header__btn-float
        margin-left: 0px
@media ( max-width: 1030px )
    .container
        max-width: 100%
    .intro__descr
        margin-top: 50px
    .intro__features
        margin: 0 auto
        margin-top: 45px
    .intro__header
        font-size: 45px
    .intro__image
        width: 100%
        overflow: hidden
        margin-top: 10px
    .fixed
        max-width: 1024px
        justify-content: space-evenly
        margin-left: 0px
    .header__btn-float
        margin-left: 240px
    .clients__logo
        width: 100vw
        padding: 0 40px
        margin: 0 auto
        margin-top: 50px
    .offices
        max-width: 100%
        margin-left: 0px
    .search
        right: 20px
    .services
        margin-top: 50px
    .services__info
        display: grid
        grid-template-columns: 1fr
        grid-template-rows: auto
        justify-content: center
        align-items: center
        max-width: 800px
        margin: 0 auto
        .tablinks
            width: 150px
            display: flex
            flex-direction: column
    .services__list
        width: 100%
        display: grid
        grid-template-columns: repeat(5, 1fr)
        justify-content: space-between
        width: 90vw
        margin-bottom: 50px
    .list-header
        font-size: 14px
    .list-number
        font-size: 22px
    .services__content, .tabcontent
        display: flex
        margin: 0 auto
    .slider-track, .slider-container, .certificates__wrapper
        width: 875px
        margin: 0 auto
    .modal__contacts-text
        margin-top: 15%
@media ( max-width: 835px )
    .intro__descr
        width: 50vw
    .intro__features
        width: 90vw
        margin-top: 85px
        display: inline-flex
        grid-column-gap: 50px
    .offices
        max-width: 100%
        margin-left: 0px
    .intro__image
        width: 100%
        margin-top: -50px
    .clients__logo
        width: 90vw
        padding: 0 40px
        margin: 0 auto
        margin-top: 50px
    .servises__header
        margin-left: 0px
    .services
        text-align: center
    .services__info
        margin: 0 auto
        width: 95vw
    .services__descr, .services__header
        margin: 0 auto
    .services__header
        margin-top: 50px
    .services__list
        margin-top: 50px
        flex-direction: row
        justify-content: center
        row-gap: 5px
    .services__content, .tabcontent
        width: 80vw
    .tabcontent
        padding-top: 0px
        margin-top: 0px
    .service-one
        grid-column-gap: 20px
        padding-top: 20px
        padding-left: 50px
        .content-one, .title-one
            text-align: left
    .service-three__info
        width: 272px
        margin-top: 10px
    .service-three__img, .service-five__img, .service-tow__img
        width: 280px
        position: relative
    .service-four
        margin-top: 0px
        .title-one
            margin-left: 20px
    .service-four__wrapper
        width: 300px
        grid-column-gap: 20px
    .service-four__list
        margin-top: 0px
        .content
            margin-top: 10px
    .slider-track, .slider-container, .certificates__wrapper
        width: 600px
        margin: 0 auto
    .search
        right: 50px
        .search-info__content
            flex-direction: column
            margin-top: 0
        .search-info__phone, .search-info__mail
            margin: 10px
    .search__city-name
        font-size: 10px
    .cities-phone
        font-size: 10px
    .fixed
        position: inherit
        width: 80vw
    .search, .cities
        width: 250px
    .action
        flex-direction: column
        margin: 0 auto
        align-items: center
    .action__form-wrapper
        margin-top: 50px
        margin-left: 0px
    .footer__info
        width: 200px
    .footer__contacts
    .modal
        width: 240px
        height: 60%
        .modal__contacts-text
            margin-top: 25%
