// @media  (max-width: 1990px)
//     .intro
//         column-gap: 200px
//     .offices
//         max-width: 100%
//         margin-left: 0px
//         .search
//             left: 1350px
//     // .header__container, .fixed
//     //     margin: 0 auto
//     //     width: 100%
//     // .fixed
//     //     width: 1920px
//     //     margin-left: 0px
// @media  (max-width: 1536px)
//     .container
//         max-width: 100%
//     .intro__image
//         width: 100%
//     .intro
//         column-gap: 0px
//     .offices
//         max-width: 100%
//         margin-left: 0px
//         .search
//             left: 1150px
@media  (max-width: 1440px)
    .container
        max-width: 100%
    .intro__image
        width: 100%
    .modal
        height: 80%

@media (max-width: 1366px)
    .container
        max-width: 100%
    .intro__image
        width: 100%
    .offices
        max-width: 100%
        margin-left: 0px
        .search
            left: 950px
    .modal
        left: 1000px
@media ( max-width: 1290px )
    .container
        max-width: 100%
    .intro__image
        width: 100%
    .intro__descr
        margin-left: 50px
    .offices
        max-width: 100%
        margin-left: 0px
        .search
            left: 800px
    .action
        margin-left: 0px
    .fixed
        width: 1280px
    .modal
        left: 920px
@media ( max-width: 1024px )
    .container
        max-width: 100%
    .intro__features
        margin-top: 85px
        display: flex
        width: 100%

    .intro__image
        width: 120%
        overflow: hidden
// @media ( max-width: 1920px )
//     .container
//         min-width: 98%
